@model IEnumerable<Garage25.Models.Person>

@{
    ViewBag.Title = "List Of Members";
}

<h2>List of Members</h2>

<p>
    
    
    <input type="submit" value="Add New Member" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Person")'" />

    @*@using (Html.BeginForm("Index", "Person", FormMethod.Get))
    {
    <p>
        Filter/Search Member: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
    </p>
    }*@
</p>
@using (Html.BeginForm())
{
    <p>
        Find Member: @Html.TextBox("searchString")
        <input type="submit" value="Search" />

    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.SortParam, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.FullName)*@
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MailAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MailAddress)
        </td>

        <td>
            <input type="button" value="Edit" class="btn btn-default" onclick="location.href='@Url.Action("Edit","Person" ,new { id = item.Id })'" />
            <input type="button" value="Details" class="btn btn-default" onclick="location.href='@Url.Action("Details","Person" ,new { id = item.Id })'" />
            <input type="button" value="Quit Membership" class="btn btn-danger" onclick="location.href='@Url.Action("Delete","Person" ,new { id = item.Id })'" />

        </td>
    </tr>
}

</table>
