@model IEnumerable<Garage25.Models.Person>

@{
    ViewBag.Title = "List Of Members";
}

<h2>List of Members</h2>

<p>
    @*@Html.ActionLink("Add New Member", "Create")*@    
    <input type="submit" value="Add New Member" class="btn btn-default" onclick="location.href='@Url.Action("Create","Person")'" />

    @*<input type="submit" value="Find Member" class="btn btn-default" onclick="location.href='@Url.Action("Index","Person")'" />*@

    @using (Html.BeginForm("Index", "Person", FormMethod.Get))
    {
    <p>
        Filter/Search Member: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
    </p>
    }
</p>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.SortParam, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.FullName)*@
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MailAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MailAddress)
        </td>

        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@

            <input type="submit" value="Edit" class="btn btn-default" onclick="location.href='@Url.Action("Edit","Person" ,new { id = item.Id })'" />
            <input type="submit" value="Details" class="btn btn-default" onclick="location.href='@Url.Action("Details","Person" ,new { id = item.Id })'" />
            <input type="submit" value="Quit Membership" class="btn btn-default" onclick="location.href='@Url.Action("Delete","Person" ,new { id = item.Id })'" />

        </td>
    </tr>
}

</table>
