@model IEnumerable<Garage25.Models.ParkedVehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Parked Vehicles Details</h2>


@using (Html.BeginForm())
{
    <p>
        Find RegNo: @Html.TextBox("RegNoString")
        <input type="submit" value="Search" />
    
    
        Find Vehicle Type: @Html.TextBox("VehString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
           @Html.ActionLink("Member", "DetailedIndex", new { sortOrder = ViewBag.name })
        </th>
        <th>
            @Html.ActionLink("Vehicle Color", "DetailedIndex", new { sortOrder = ViewBag.color })
        </th>
        <th>
            @Html.ActionLink("Vehicle Type", "DetailedIndex", new { sortOrder = ViewBag.type })
        </th>
        <th>
            @Html.ActionLink("Registration Nr.", "DetailedIndex", new { sortOrder = ViewBag.reg })
        </th>
        <th>
            @Html.ActionLink("Vehicle Brand", "DetailedIndex", new { sortOrder = ViewBag.brand })
        </th>
        <th>
            @Html.ActionLink("Check-In Date", "DetailedIndex", new { sortOrder = ViewBag.date })
        </th>
        <th>
            @Html.ActionLink("Parking Place", "DetailedIndex", new { sortOrder = ViewBag.parking })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Person.FullName)
            </td>
            <td class="table-bordered" style="border-color:@Html.DisplayFor(modelItem => item.Color.Name).ToString();">
                @Html.DisplayFor(modelItem => item.Color.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSpot)
            </td>
            <td>
                <input type="submit" value="Edit" class="btn btn-default" onclick="location.href='@Url.Action("Edit","ParkedVehicles" ,new { id = item.Id })'" />
                <input type="submit" value="Details" class="btn btn-default" onclick="location.href='@Url.Action("Details","ParkedVehicles" ,new { id = item.Id })'" />
                
               
            </td>
        </tr>
    }

</table>
