@model IEnumerable<Garage25.Models.ParkedVehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Member.MailAddress)*@

            @Html.ActionLink("Member", "Index", new { sortOrder = ViewBag.name })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.VehicleColor.Name)*@
            @Html.ActionLink("Vehicle Color", "Index", new { sortOrder = ViewBag.color })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.VehicleType.TypeName)*@
            @Html.ActionLink("Vehicle Type", "Index", new { sortOrder = ViewBag.type })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.RegistrationNumber)*@
            @Html.ActionLink("Registration Nr.", "Index", new { sortOrder = ViewBag.reg })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.VehicleBrand)*@
            @Html.ActionLink("Vehicle Brand", "Index", new { sortOrder = ViewBag.brand })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.InDate)*@
            @Html.ActionLink("Check-In Date", "Index", new { sortOrder = ViewBag.date })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ParkingPlace)*@
            @Html.ActionLink("Parking Place", "Index", new { sortOrder = ViewBag.parking })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Color.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.MailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingSpot)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
