@model Garage25.Models.ParkedVehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParkedVehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.MailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.MailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingSpot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSpot)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
