@model IEnumerable<Garage25.Models.ViewModels.SummaryParkedVehicles>

@{
    ViewBag.Title = "Summary of Parked Vehicles";
}

<h2>Summary of Parked Vehicles</h2>

<p>
    <input type="submit" value="Check in" class="btn btn-primary" onclick="location.href='@Url.Action("Create","ParkedVehicles")'" />
</p>
@using (Html.BeginForm())
{
    <p>
        Find RegNo: @Html.TextBox("RegNoString")
        <input type="submit" value="Search" />
    
        Find Vehicle Type: @Html.TextBox("VehString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minutes)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minutes)
        </td>

        <td>
            <input type="submit" value="Check out" class="btn btn-danger" onclick="location.href='@Url.Action("CheckOut","ParkedVehicles" ,new { id = item.Id })'" />
        </td>
    </tr>
}

</table>
