@model IEnumerable<Garage25.Models.ViewModels.SummaryParkedVehicles>

@{
    ViewBag.Title = "Summary of Parked Vehicles";
}

<h2>Summary of Parked Vehicles</h2>

<p>
    <input type="submit" value="Check in" class="btn btn-primary" onclick="location.href='@Url.Action("Create","ParkedVehicles")'" />
</p>
@using (Html.BeginForm())
{
    <p>
        Find RegNo: @Html.TextBox("RegNoString")
        <input type="submit" value="Search" />
    
        Find Vehicle Type: @Html.TextBox("VehString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>


        <th>
            @Html.ActionLink("Member", "Index", new { sortOrder = ViewBag.name })
        </th>

        <th>
            @Html.ActionLink("Vehicle Type", "Index", new { sortOrder = ViewBag.type })
        </th>
        <th>
            @Html.ActionLink("Registration Nr.", "Index", new { sortOrder = ViewBag.reg })
        </th>

        <th class="text-center">
            @*@Html.DisplayNameFor(model => model.Days)*@
            Parking Time (Day:Hour:Minute)

        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minutes)
        </th>*@

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>

        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Days) : 
            @Html.DisplayFor(modelItem => item.Hours) :
            @Html.DisplayFor(modelItem => item.Minutes)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minutes)
        </td>*@

        <td>
            <input type="submit" value="Check out" class="btn btn-danger" onclick="location.href='@Url.Action("CheckOut","ParkedVehicles" ,new { id = item.Id })'" />
        </td>
    </tr>
}

</table>
