@model Garage25.Models.VehicleType

@{
    ViewBag.Title = "Remove Vehicle Type";
}

<h2>Remove the possibility to park this vehicle type</h2>

<h3>Are you sure you want to remove this vehicle type?</h3>
<div>
    <h4>Vehicle Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingSpace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSpace)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <input type="submit" value="Back to List" class="btn btn-default" onclick="location.href='@Url.Action("Index","VehicleType")'" />

            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
